*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.suminfo{
  text-align: center;
  display: block;
  margin: auto;
  color: #ffffff;
  background-color: #333;
  border-radius: 16px;
  width: 160px;
  padding: 8px;
}
.counter {
   background-color: #333;
    display: flex;
    align-items: center;
    height: 80px;
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
  }
  .counter > *{
    background-color: gold;
    border: 2px solid #000;
    border-radius: 20%;
    height: 100%;
    flex: 1;
    font-size: 24px;
  }
  .b:hover{
    background-color: rgb(255, 183, 0);
    transition: 150ms;
  }
  .X:hover{
    background-color: red;
    transition: 150ms;
  }
  .text-center{
    margin-top: 100px;
    text-align: center;
    margin: auto;
    color: #ffffff;
    background-color: #333;
    border-radius: 16px;
    width: 360px;
    padding: 8px;
  }
  .btn-center{
    margin-top: 10px;
    background-color: #333;
    color: #ffffff;
    padding: 8px;
    border-radius: 16px;
    font-weight: bold;
  }
  .btn-center:hover{
    background-color: #000000;
    color: rgb(255, 0, 106);
  }
  .counter h3{
    padding-top: 14px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    flex: 1;
    font-size: 24px;
    color: #333;
  }